@import "../../styles/colors";

.form-container {
    color: #000000;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: -2px -2px 26px 1px rgba(0,0,0,0.63);
    max-width: 360px;
    min-height: 440px;
    overflow: hidden;
    position: relative;

    .form-header {
        background-color: rgba(35, 99, 216, 0.9) !important;
        color: white;
        padding: 10px;
        min-height: 100px;
        text-align: center;

        p {
            color: white;
            font-weight: 500;
            font-size: 18px;
            text-shadow: -1px 0px 2px rgba(150, 150, 150, 0.8);
        }
    }

    .form-body {
        padding: 20px 10px;
        background-color: white;
    }

    .form-footer {
        position: relative;
        text-align: center;
        bottom: 0px;
        margin-top: 30px;
        padding: 5px 0;

        button {
            box-shadow: -1px 1px 12px -2px rgba(0,0,0,0.63);
            font-weight: bold;
        }
    }

    .btn-purple {
        background-color: $color-purple-2;
        color: $color-white;
    }
}