$color-black : #000000;
$color-gray-1 : #444444;
$color-gray-2 : #666666;
$color-gray-3 : #888888;
$color-gray-4: #CCCCCC;
$color-gray-5: #EEEEEE;
$color-gray-6: #F2F4F7;
$color-white : #FFFFFF;

$color-blue-1 : #e8eaf6;
$color-blue-2 : #7986cb;
$color-blue-3 : #3f51b5;
$color-blue-4 : #283593;

$color-sky-blue-1 : #e1f5fe;
$color-sky-blue-2 : #4fc3f7;
$color-sky-blue-3 : #03a9f4;
$color-sky-blue-4 : #0277bd;

$color-green-1 : #D6F4F0;
$color-green-2 : #4FC0B2;
$color-green-3 : #03A691;
$color-green-4 : #028474;

$color-yellow-1 : #FFF59D;
$color-yellow-2 : #FDD735;
$color-yellow-3 : #FFC000;
$color-yellow-4 : #F9A824;

$color-orange-1 : #FFE0C3;
$color-orange-2 : #FFBC67;
$color-orange-3 : #FA8E04;
$color-orange-4 : #D56202;

$color-red-1 : #FFE3E0;
$color-red-2 : #FB8478;
$color-red-3 : #FA503F;
$color-red-4 : #E12B19;

$color-violet-1 : #EBE5F5;
$color-violet-2 : #A780FF;
$color-violet-3 : #4300D2;
$color-violet-4 : #270570;

$color-aqua-1: #ECFDF9;
$color-aqua-2: #CBF6EC;
$color-aqua-3: #ADEDDD;
$color-aqua-4: #62C1A3;