.card-img-text{
    color: #F2F2F2;
}

.card {

    a {
        color: #fff;
        text-decoration: none;
    }
    
    &.brand-card {
        div {
            overflow: hidden;
        }

        img {
            filter: grayscale(60%)
        }
        
        img:hover {
            transform: scale(1.4);
            transition: all 0.4s ease-in-out ;
            filter: grayscale(0%)
        }
    }


    .person-icon img {
        border-radius: 50%;
    }
}
