@import "../../styles/colors";

.main-content {
    position: relative;
    margin-top: -200px;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        justify-items: center;
        grid-gap: 1em;
    
        h2 {
          color: $color-white;
        }
      }
}

.brand-row {
  min-height: 300px;
  padding: 1em;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    justify-items: end;
    grid-gap: 1em;

    h2 {
      color: $color-white;
    }
  }
}
