.header {
    grid-column: 1;

    width: 100%;
    // -webkit-clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%, 100% 20%, );
    // clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%);
    // clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}

.slogan {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 50px 0 20px 0;
    width: 100%;

    h1 {
        max-width: 650px;
        font-size: 3em
    }
}

.white {
    color: white;
}