.nav {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    padding: 5px 30px 10px 10px;
  }

  $link-items: 1;
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 20px;
    color: #fff;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    font-size: 18px;
  }

  
  
  .nav > .nav-links > a {
    border-bottom: 3px solid transparent;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: #efefef;
    height: 60px;
  }
  
  .nav > .nav-links > a:hover {
    border-bottom: 3px solid #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 60px;
      padding: 15px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(34, 13, 61, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 60px;
      left: 0px;

      .header-phone {
        display: none;
      }
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(#{$link-items} * 60px);
      overflow-y: hidden;
    }
  }