.logo {
    color: #ffffff;
    height: 40px;
    margin-left: 20px;
    width: 200px;
    display: flex;
    align-items: center;

    span {
        display: block;
    }

    img {
        float: left;
    }
}