.logo {
    color: #fff;
    width: 350px;
    align-items: center;
    
    a {
        color: #fff;
        text-decoration: none;
    }

    span {
        display: block;
    }

    img {
        float: left;
        height: 60px;
    }
}